@mixin linkStyle {
    display: block;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    transition: all .2s;
}

@mixin buttonStyle($backgroundColor: #d3d1d1) {
    background-color: $backgroundColor;
    display: block;
    text-wrap: nowrap;
    font-weight: 700;

    &:hover {
        background-color: darken($backgroundColor, 3%);
    }

    &:disabled {
        background-color: #a09e9e;
        cursor: default;
    }
}

@mixin RowStyle {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 15px;
    padding-left: 20pz;
}