@use '../../../../styles/colors' as c;

.DoorCardHeader {

    width: 100%;

    .previewHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .title {
            font-size: 1.2rem;
            font-weight: bold;
        }
    }

    .editHeader {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        width: 100%;

        .TextInputBlock {
            flex-grow: 1;
            margin-right: 15px;
        }

        .changeableInput {
            width: 100%;
        }
    }

    .hidden {
        display: none;
    }
}