@use '../../styles/colors' as c;

.RadioButtonBlock {
    background-color: green;

    .RadioButton {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    .label {
        width: 40vw;
        margin: 0 auto;
        padding: 15px;
        border-radius: 10px;
        border: 2px solid c.$ui-elements-border;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
        cursor: pointer;
        box-sizing: border-box;
    }

    .RadioButton:checked+.label {
        border: 2px solid c.$main-theme-color;
        outline: 1px solid c.$main-theme-color;
    }

}