@use '../../styles/colors' as c;
@use '../../styles/mixins' as m;

.primaryLink {
    background-color: c.$main-theme-color;
    @include m.linkStyle;

    &:active, &:visited {
        color: #fff;
    }

    &:hover {
        background-color: darken(c.$main-theme-color, 3%);
    }
}