@use '../../styles/colors' as c;

.NumberInputBlock {

    display: flex;
    flex-direction: column-reverse;


    .numberInput.p-inputwrapper-focus {
        border: 2px solid c.$secondary-theme-color;
    }

    .numberInput.p-inputwrapper-focus + .inputLabel {
        color: c.$secondary-theme-color;
    }

    .inputLabel {
        transition: all .2s;
        margin-bottom: 10px;
        font-weight: 700;
    }

    .numberInput {
        display: block;
        border: 2px solid c.$border-color;
        outline: none;
        border-radius: 10px;
        box-sizing: border-box;
        transition: all .2s;
        width: 100%;

        input {
            padding: 15px;
            border-radius: 10px;
            font-size: 1rem;
        }
    }

    .p-inputnumber-input, .p-inputtext {
        border: none;
        outline: none;
    }
}