.CheckboxGroupControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .checkedDoorsCount {
        font-weight: bold;
    }

    .checkboxGroupControlButton {
        width: 200px;
    }

    .checkboxGroupControlButton.disabled {
        background-color: #a09e9e;
    }
}